<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{recipeapp}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<h2 th:text="#{add}"></h2>
	<div class="container">
		<form th:object="${recipe}" th:action="@{save}" action="#" method="post">
			<label for="name" th:text="#{name}">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="description" th:text="#{desc}">Description</label>
			<input type="text" id="description" th:field="*{description}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="ingredient" th:text="#{ingr}">Ingredients</label>
			<input type="text" id="ingredient" th:field="*{ingredient}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="instruction" th:text="#{instr}">Instructions</label>
			<input type="text" th:field="*{instruction}" />

			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="typelist" th:text="#{type}">Type</label>
			<select id="typelist" th:field="*{type}" class="form-control">
				<option th:each="type: ${types}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
			</select>

			<input type="submit" th:value="#{save}"></input>
		</form>
	</div>

</body>

</html>