<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{recipeapp}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<div class="col-md-4">
			<h2 th:text="#{edit}"></h2>
		</div>
		<form th:object="${recipe}" th:action="@{../save}" action="#" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="hidden" th:field="*{recipeId}" class="form-control" />
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{name}" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{description}" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{ingredient}" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{instruction}" class="form-control"/>
				</div>
				<div class="form-group col-md-4">
					<select id="typelist" th:field="*{type}" class="form-control">
					<option th:each="type: ${types}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
				</select>
				</div>
			</div>
			<input type="submit" class="btn btn-success" th:value="#{save}"></input>
		</form>
	</div>

</body>

</html>