<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{recipeapp}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/recipelist" th:text="#{recipes}"></a>
		<div class="container">
			<div class="row">
				<div class="btn-group mr-3" role="group" aria-label="Basic example">
					<span th:text="#{lang.change}" class="navbar-text"></span>
					<select id="locales">
						<option value=""></option>
						<option value="en" th:text="#{lang.eng}"></option>
						<option value="fin" th:text="#{lang.fin}"></option>
					</select>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
					</script>
					<script type="text/javascript">
						$(document).ready(function () {
							$("#locales").change(function () {
								let selectedOption = $('#locales').val();
								if (selectedOption != '') {
									window.location.replace('editrecipe?lang=' + selectedOption);
								}
							});
						});
					</script>
				</div>
				<div class="ml-auto">
					<div sec:authorize="!isAuthenticated()">
						<form th:action="@{/login}" method="post" class="d-inline-block mr-2">
							<input type="submit" th:value="#{login}" class="btn btn-sm btn-light navbar-btn" />
						</form>
					</div>

					<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="d-inline-block">
						<form th:action="@{/logout}" method="post" class="ml-2">
							<input type="submit" th:value="#{signout}" class="btn btn-sm btn-danger navbar-btn" />
						</form>
					</div>
				</div>
			</div>
	</nav>

	<div class="container">
		<div class="col-md-4">
			<h2 th:text="#{edit}"></h2>
		</div>
		<form th:object="${recipe}" th:action="@{../save}" action="#" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="hidden" th:field="*{recipeId}" class="form-control" />
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{name}" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{description}" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{ingredient}" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<input type="text" th:field="*{instruction}" class="form-control"/>
				</div>
				<div class="form-group col-md-4">
					<select id="typelist" th:field="*{type}" class="form-control">
					<option th:each="type: ${types}" th:value="${type.typeId}" th:text="${type.typeName}"></option>
				</select>
				</div>
			</div>
			<input type="submit" class="btn btn-success" th:value="#{save}"></input>
		</form>
	</div>

</body>

</html>