<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<title th:text="#{recipeapp}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/recipelist" th:text="#{recipes}"></a>
		<div class="container">
			<div class="row">
				<div class="btn-group mr-3" role="group" aria-label="Basic example">
					<span th:text="#{lang.change}" class="navbar-text"></span>
					<select id="locales">
						<option value=""></option>
						<option value="en" th:text="#{lang.eng}"></option>
						<option value="fin" th:text="#{lang.fin}"></option>
					</select>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
					</script>
					<script type="text/javascript">
						$(document).ready(function () {
							$("#locales").change(function () {
								let selectedOption = $('#locales').val();
								if (selectedOption != '') {
									window.location.replace('login?lang=' + selectedOption);
								}
							});
						});
					</script>
				</div>
				<div class="ml-auto">
					<div sec:authorize="!isAuthenticated()">
						<form th:action="@{/login}" method="post" class="d-inline-block mr-2">
							<input type="submit" th:value="#{login}" class="btn btn-sm btn-light navbar-btn" />
						</form>
					</div>

					<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="d-inline-block">
						<form th:action="@{/logout}" method="post" class="ml-2">
							<input type="submit" th:value="#{signout}" class="btn btn-sm btn-danger navbar-btn" />
						</form>
					</div>
				</div>
			</div>
	</nav>
	<div class="container">
		<h2 th:text="#{login}"></h2>
		<div class="col-md-4 col-md-offset-4">
			<div class="alert alert-danger" th:if="${param.error != null}" th:text="#{login.err}">
			</div>
			<div class="alert alert-warning" th:if="${param.logout}" th:text="#{logout.mess}">
			</div>
			<form th:action="@{/login}" action="#" method="post">
				<div><label >Username: <input type="text" name="username" class="form-control" /> </label></div>
				<div><label > Password: <input type="password" name="password" class="form-control" /> </label></div>
				<div><input type="submit" value="Sign In" class="btn btn-primary" /></div>
			</form>
			<form action="#" th:action="@{/signup}" method="get">
				<button type="submit" class="btn btn-secondary" th:text="#{signup}"></button>
			</form>
		</div>
	</div>
</body>

</html>