<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Recipelist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Recipes</h1>
		</div>

		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Instruction</th>
			</tr>
			<tr th:each="recipe : ${recipes}">
				<td th:text="${recipe.name}"></td>
				<td th:text="${recipe.description}"></td>
				<td th:text="${recipe.instruction}"></td>
			</tr>
		</table>
	</div>
</body>

</html>