<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Recipelist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Recipes</h1>
		</div>

		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Ingredients</th>
				<th>Instruction</th>
				<th>Type</th>
			</tr>
			<tr th:each="recipe : ${recipes}">
				<td th:text="${recipe.name}"></td>
				<td th:text="${recipe.description}"></td>
				<td th:text="${recipe.ingredient}"></td>
				<td th:text="${recipe.instruction}"></td>
				<td th:text="${recipe.type.typeName}"></td>
				<td><a th:href="@{/delete/{id}(id=${recipe.recipeId})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${recipe.recipeId})}" class="btn btn-danger">Edit</a></td>
			</tr>
		</table>
		<a href="/add" class="btn btn-primary">Add Recipe</a>
	</div>
	
</body>

</html>