<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Recipe App</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/recipelist" th:text="#{recipes}"></a>
		<div class="container">
			<div class="row">
				<div class="btn-group mr-3" role="group" aria-label="Basic example">
					<span th:text="#{lang.change}" class="navbar-text"></span>
					<select id="locales">
						<option value=""></option>
						<option value="en" th:text="#{lang.eng}"></option>
						<option value="fin" th:text="#{lang.fin}"></option>
					</select>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
					</script>
					<script type="text/javascript">
						$(document).ready(function () {
							$("#locales").change(function () {
								let selectedOption = $('#locales').val();
								if (selectedOption != '') {
									window.location.replace('typelist?lang=' + selectedOption);
								}
							});
						});
					</script>
				</div>
				<div class="ml-auto">
					<div sec:authorize="!isAuthenticated()">
						<form th:action="@{/login}" method="post" class="d-inline-block mr-2">
							<input type="submit" th:value="#{login}" class="btn btn-sm btn-light navbar-btn" />
						</form>
					</div>

					<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')" class="d-inline-block">
						<form th:action="@{/logout}" method="post" class="ml-2">
							<input type="submit" th:value="#{signout}" class="btn btn-sm btn-danger navbar-btn" />
						</form>
					</div>
				</div>
			</div>
	</nav>
	<div class="container">
		<div class="col-md-4">
			<h1 th:text="#{recipe.type}"></h1>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th th:text="#{name}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="type : ${types}">
				<td th:text="${type.typeName}"></td>
			</tr>
			</tbody>			
		</table>
		<a href="/add" class="btn btn-primary" the:text="#{add}"></a>
	</div>

</body>

</html>